# base config
serviceName=my-application
group=default
enable=true

# agent log config
agentLogConfig.level=debug

# plugin config
pluginConfig.disabledPlugins=example1-plugin,example2-plugin


# metric provider
meterProviderConfig.meterProviderType=prometheus
meterProviderConfig.prometheusConfig.port=9456

# trace provider
tracerProviderConfig.tracerProviderType=zipkin
tracerProviderConfig.zipkinConfig.endpoint=http://localhost:9411/api/v2/spans

# logger provider
loggerProviderConfig.loggerProviderType=otlp
loggerProviderConfig.otlpConfig.logEndpoint=http://localhost:4317/v1/logs
